/****Navbar****/

.navbar-nav {
    margin-left: 60%;
}

body {
    background-color: lightslategrey;
}

h1 {
    color: white;
}

.navbar-brand {
    font-weight: bold;
    font-size: 35px;
    color: lightslategrey;
}

.form-group {
    margin-right: 50%;
    border-color: white;
    margin-left: 2%;
    background-color: lightgray;
}

.contactform {
    background-color: lightgray;
    margin-bottom: 0;
}

.btn-primary{
    background-color:slategray;
    border-color: white;
}