/****Navbar****/

.navbar-nav {
    margin-left: 60%;
}

body {
    background-color: lightslategrey;
}

h1 {
    color: white;
    padding-left: 35px;
    text-emphasis: underline;
}

.navbar-brand {
    font-weight: bold;
    font-size: 35px;
    color: lightslategrey;
}

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.form-group {
    margin-right: 50%;
    border-color: white;
    margin-left: 2%;
    background-color: lightgray;
}

.contactform {
    background-color: lightgray;
    margin-bottom: 0;
}

.btn-primary{
    background-color:slategray;
    border-color: white;
}
.container-sm-6 {
    background-color: lightgray;
    margin-top: 25px;
    margin-right: 50%;
    margin-left: 25px;
    margin-bottom: 25px;
}

.col-sm-6 {
    padding-left: 35px;
    padding-right: 35px;
}

a{
    color: darkslategray;
}

.card-img {
    height: 250px;
    width: 425px;
    }